/*RESET CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*ESTILO APLICADO AO CORPO DO SITE*/
body{
    background-color: #e7d8d8;
    font-family: "Work sans", sans-serif;
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
header{
    text-align: center;
    margin-bottom: 20px;
}

h1{
    font-family: "Fjalla One", sans-serif;
    font-size: 35px;
}

form{
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #cccccc;
    margin-bottom: 100px;
    border-radius: 10px;
}

fieldset{
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

legend{
    font-weight: bold;
    font-size: 18px;
    padding: 0 10px;
}

label{
    display: inline-block;
    margin-bottom: 10px;
}

p{
    margin-bottom: 1px;
    font-weight: bold;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}